@import "./styles/fonts.css";
@import "./common/variable.css";
@import "./styles/commonClasses.css";
@import "./styles/animations.css";

body{
  margin: 0;
  font-family: Gilroy, sans-serif;
  --webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-black);
  color: var(--white);
  box-sizing: border-box;

}

code{
  font-family: source-code-pro, Menlo, Monalco, Consolas;
}